/* Change the background of the entire visible page */
body {
    background
          <img src="https://www.kasandbox.org/programming-images/animals/rabbit.png" alt="Rabbit with lop ears in barn" width="203"> 
p {
    color: rgb(255, 0, 0);
}
<div style="background-color: yellow;">
p {

    font-size: 16px;
    font-family: 'Times New Roman', serif;
}


     font-family: Arial, sans-serif;
                background: rbg (222, 253, 255);
/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 5px solid purple; /* Adds an orange border around the heading */
    padding: 12px; /* Adds space inside the border */
